* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("../images/nba.jpg");
}

.text-center {
  color: #552582;
}

#jumbo {
  background-color: white;
}

#display {
  background-color: #552582;
  color: white;
}

#main-content {
  font-family: monospace;
  background-color: #FDB927;
  text-align: center;
  width: 50%;
  height: 80vh;
  margin: auto;
}

#header {
  padding-top: 30px;
}
